*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

.link {
  text-decoration: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.08em;
  font-family: 'Lato', sans-serif;
  color: #ffffff;
}

a {
  text-decoration: none;
}

::-webkit-input-placeholder {
  color: #000000;
  opacity: 1;
  letter-spacing: 0.04em;
}

:-ms-input-placeholder {
  color: #000000;
  opacity: 1;
  letter-spacing: 0.04em;
}

::-ms-input-placeholder {
  color: #000000;
  opacity: 1;
  letter-spacing: 0.04em;
}

::placeholder {
  color: #000000;
  opacity: 1;
  letter-spacing: 0.04em;
}

button, input {
  border: none;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 280px;
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 500px;
  }
}

@media (min-width: 1280px) {
  .wrapper {
    max-width: 520px;
  }
}

body {
  background-image: linear-gradient(0.56deg, #000000 -13.48%, rgba(0, 0, 0, 0) 78.75%), url("/images/first-page/bg-image.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.citySearch__wrapper {
  position: relative;
}

.citySearch__input {
  height: 48px;
  width: 100%;
  font-size: 14px;
  line-height: 1.21;
  background: #ffffff;
  border-radius: 30px;
  padding-left: 57px;
  margin-top: 30px;
}

@media (min-width: 768px) {
  .citySearch__input {
    margin-top: 60px;
  }
}

@media (min-width: 1280px) {
  .citySearch__input {
    margin-top: 79px;
  }
}

.citySearch__icon--geolocation, .citySearch__icon--star {
  position: absolute;
  width: auto;
  top: 45px;
}

@media (min-width: 768px) {
  .citySearch__icon--geolocation, .citySearch__icon--star {
    top: 73px;
  }
}

@media (min-width: 1280px) {
  .citySearch__icon--geolocation, .citySearch__icon--star {
    top: 94px;
  }
}

.citySearch__icon--geolocation {
  left: 22px;
}

.citySearch__icon--star {
  right: 13px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  width: 280px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 620px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1060px;
  }
}

.fiveDays__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  width: 100%;
}

.city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 528px;
  margin-bottom: 28px;
  width: 100%;
}

.city__name {
  font-family: Lato;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.6px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .city__name {
    font-size: 28px;
  }
}

.city__btn {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
}

.city__btn--today, .city__btn--5days {
  font-size: 14px;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  width: 126px;
  height: 27px;
  border-radius: 20px;
  opacity: 50%;
  padding: 0px 12px 0 12px;
  margin-left: 24px;
  margin-top: 24px;
}

.weather-fiveDays {
  margin: 0 auto;
  border-radius: 34px;
  background-color: rgba(16, 33, 54, 0.8);
  width: 100%;
  width: 280px;
  height: 270px;
}

@media screen and (min-width: 768px) {
  .weather-fiveDays {
    width: 630px;
  }
}

@media screen and (min-width: 1280px) {
  .weather-fiveDays {
    width: 1060px;
  }
}

.daysList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .daysList {
    overflow: scroll;
  }
}

.daysList__item {
  margin: 0;
}

.daysList__item_minMax {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.daysList__item_day, .daysList__item_minTemp, .daysList__item_maxTemp {
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .daysList__item_day, .daysList__item_minTemp, .daysList__item_maxTemp {
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .daysList__item_day, .daysList__item_minTemp, .daysList__item_maxTemp {
    font-size: 18px;
  }
}

.daysList__item_date, .daysList__item_valueMax {
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .daysList__item_date, .daysList__item_valueMax {
    font-size: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .daysList__item_date, .daysList__item_valueMax {
    font-size: 25px;
  }
}

.daysList__item_moreInfo {
  color: #fff;
  font-size: 12px;
  background-color: rgba(16, 33, 54, 0.8);
}

@media screen and (min-width: 768px) {
  .daysList__item_moreInfo {
    font-size: 14px;
  }
}

.daysList__item_value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .daysList__item_value {
    font-size: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .daysList__item_value {
    font-size: 25px;
  }
}

.daysList__item_valueMax {
  padding-left: 25px;
}

.daysList__item_icon {
  width: 25px;
  height: 25px;
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.separator {
  margin: 0 10px;
}

.containerweather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 280px;
}

@media (min-width: 768px) {
  .containerweather {
    max-width: 768px;
  }
}

@media (min-width: 1280px) {
  .containerweather {
    max-width: 1280px;
  }
}

.weather {
  position: relative;
}

@media (min-width: 320px) {
  .weather__form {
    margin: 0 auto;
  }
}

.weather__form__input {
  width: 280px;
  padding: 70px 0px 94px 90px;
  border-radius: 30px;
  letter-spacing: 0.04em;
  line-height: 1.21;
  margin-top: 30px;
  background-color: #102136;
}

@media (min-width: 320px) {
  .weather__form__input {
    width: 280px;
    height: 190px;
    margin-top: 45px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (min-width: 768px) {
  .weather__form__input {
    width: 500px;
    height: 300px;
    margin-top: 110px;
    margin-left: 134px;
    margin-right: 134px;
  }
}

@media (min-width: 1280px) {
  .weather__form__input {
    margin-top: 132px;
    width: 450px;
    height: 300px;
    margin-left: 830px;
    margin-right: 0px;
  }
}

.weather::before {
  content: '';
  width: 22px;
  height: 22px;
  bottom: 13px;
  right: 20px;
  background-repeat: no-repeat;
  position: absolute;
}

@media (min-width: 768px) {
  .weather::before {
    left: 458px;
  }
}

@media (min-width: 1280px) {
  .weather::before {
    left: 478px;
  }
}

.weather::after {
  content: '';
  width: 22px;
  height: 22px;
  bottom: 13px;
  left: 20px;
  background-repeat: no-repeat;
  position: absolute;
}

@media (min-width: 768px) {
  .weather::after {
    bottom: 16px;
  }
}

.buttons_item {
  position: static;
  border-radius: 20px;
  margin-right: 10px;
  padding: 6px 30px 6px 12px;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}

@media (min-width: 320px) {
  .buttons {
    font-size: 14px;
    margin-left: 25px;
    margin-right: 169px;
  }
}

@media (min-width: 768px) {
  .buttons {
    font-size: 14px;
    margin-right: 393px;
    margin-left: 249px;
  }
}

@media (min-width: 1280px) {
  .buttons {
    font-size: 14px;
    margin-top: 20px;
    margin-right: 254px;
    margin-left: 900px;
  }
}

.buttons::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  top: 10px;
  right: 10px;
}

.buttons_item::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  top: 10px;
  right: 10px;
}

.napisy {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 20px;
}

@media (min-width: 320px) {
  .napisy {
    font-size: 14px;
    margin-left: 170px;
    margin-top: -60px;
  }
}

@media (min-width: 768px) {
  .napisy {
    font-size: 18px;
    margin-left: 974px;
    margin-top: -110px;
  }
}

@media (min-width: 1280px) {
  .napisy {
    font-size: 18px;
    margin-left: 974px;
    margin-top: -110px;
  }
}
/*# sourceMappingURL=main.css.map */