*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

.link {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

body {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.08em;
  font-family: 'Lato', sans-serif;
  color: #ffffff;
}

a {
  text-decoration: none;
}

::placeholder {
  color: #000000;
  opacity: 1;
  letter-spacing: 0.04em;
}


input {
  border: none;
}

body {
  background-image: url("/images/first-page/bg-image.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.containertrial {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 280px;
}

@media (min-width: 768px) {
  .containertrial {
    max-width: 768px;
  }
}

@media (min-width: 1280px) {
  .containertrial {
    max-width: 1280px;
  }
}

.citySearch {
  position: relative;
}

@media (min-width: 768px) {
  .citySearch__form {
    margin: 0 auto;
  }
}

.citySearch__form__input {
  width: 280px;
  padding: 15px 0px 16px 57px;
  border-radius: 30px;
  letter-spacing: 0.04em;
  line-height: 1.21;
  margin-top: 30px;
}

@media (min-width: 768px) {
  .citySearch__form__input {
    width: 500px;
    margin-top: 60px;
    font-size: 18px;
    line-height: 1.2;
  }
}

@media (min-width: 1280px) {
  .citySearch__form__input {
    margin-top: 79px;
    width: 520px;
  }
}

.citySearch::before {
  content: '';
  width: 22px;
  height: 22px;
  bottom: 13px;
  right: 20px;
  background-image: url("/images/icons/star.svg");
  background-repeat: no-repeat;
  position: absolute;
}

@media (min-width: 768px) {
  .citySearch::before {
    left: 458px;
  }
}

@media (min-width: 1280px) {
  .citySearch::before {
    left: 478px;
  }
}

.citySearch::after {
  content: '';
  width: 22px;
  height: 22px;
  bottom: 13px;
  left: 20px;
  background-image: url("/images/icons/geolocation.svg");
  background-repeat: no-repeat;
  position: absolute;
}

@media (min-width: 768px) {
  .citySearch::after {
    bottom: 16px;
  }
}

.citySearch__favouriteCities {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.citySearch__arrow {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.favouriteCities {
  display: flex;
  align-items: center;
}

.favouriteCities__item {
  position: relative;
  background: rgba(16, 33, 54, 0.5);
  border-radius: 20px;
  text-decoration: underline;
  margin-right: 10px;
  padding: 6px 30px 6px 12px;
  font-size: 12px;
}

@media (min-width: 768px) {
  .favouriteCities {
    font-size: 14px;
  }
}

@media (min-width: 1280px) {
  .favouriteCities {
    font-size: 14px;
  }
}

.favouriteCities__name::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  background-image: url("/images/icons/close.svg");
  background-repeat: no-repeat;
  background-size: contain;
  top: 10px;
  right: 10px;
}

.quote {
  text-align: right;
  align-items: flex-end;
}

.quote__example {
  font-style: italic;
  font-size: 14px;
}

@media (min-width: 768px) {
  .quote__example {
    font-size: 22px;
  }
}

.quote__author-name {
  font-size: 18px;
  line-height: 22px;
}

@media (min-width: 768px) {
  .quote {
    width: 379px;
  }
}

@media (min-width: 1280px) {
  .quote {
    position: absolute;
    right: 110px;
  }
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: 280px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 620px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1060px;
  }
}

.fiveDays__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  width: 100%;
}

.city {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 528px;
  margin-bottom: 28px;
  width: 100%;
}

.city__name {
  font-family: Lato;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.6px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .city__name {
    font-size: 28px;
  }
}

.city__btn {
  flex-direction: row;
  text-align: center;
}

.city__btn--today,
.city__btn--5days {
  font-size: 14px;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  width: 126px;
  height: 27px;
  border-radius: 20px;
  opacity: 50%;
  padding: 0px 12px 0 12px;
  margin-left: 24px;
  margin-top: 24px;
}

.weather-fiveDays {
  margin: 0 auto;
  border-radius: 34px;
  background-color: rgba(16, 33, 54, 0.8);
  width: 100%;
  width: 280px;
  height: 270px;
}

@media screen and (min-width: 768px) {
  .weather-fiveDays {
    width: 630px;
  }
}

@media screen and (min-width: 1280px) {
  .weather-fiveDays {
    width: 1060px;
  }
}

.daysList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .daysList {
    overflow: scroll;
  }
}

.daysList__item {
  margin: 0;
}

.daysList__item_minMax {
  display: flex;
}

.daysList__item_day,
.daysList__item_minTemp,
.daysList__item_maxTemp {
  font-size: 12px;
}

@media screen and (min-width: 768px) {

  .daysList__item_day,
  .daysList__item_minTemp,
  .daysList__item_maxTemp {
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {

  .daysList__item_day,
  .daysList__item_minTemp,
  .daysList__item_maxTemp {
    font-size: 18px;
  }
}

.daysList__item_date,
.daysList__item_valueMax {
  font-size: 16px;
}

@media screen and (min-width: 768px) {

  .daysList__item_date,
  .daysList__item_valueMax {
    font-size: 18px;
  }
}

@media screen and (min-width: 1280px) {

  .daysList__item_date,
  .daysList__item_valueMax {
    font-size: 25px;
  }
}

.daysList__item_moreInfo {
  color: #fff;
  font-size: 12px;
  background-color: rgba(16, 33, 54, 0.8);
}

@media screen and (min-width: 768px) {
  .daysList__item_moreInfo {
    font-size: 14px;
  }
}

.daysList__item_value {
  display: flex;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .daysList__item_value {
    font-size: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .daysList__item_value {
    font-size: 25px;
  }
}

.daysList__item_valueMax {
  padding-left: 25px;
}

.daysList__item_icon {
  width: 25px;
  height: 25px;
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.separator {
  margin: 0 10px;
}

/* Sekcja Weather  1 DAY 5 DAYS */

.containerweather {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 280px;
}






@media (min-width: 768px) {
  .containerweather {
    max-width: 768px;
  }
}

@media (min-width: 1280px) {
  .containerweather {
    max-width: 10000px;
    padding: 0px;
  }
}

.weather {
  position: relative;
  width: 100%;

}

@media (min-width: 320px) {
  .weather__form {
    margin: 0 auto;
  }
}

.weather__form__input {
  width: 280px;
  padding: 70px 0px 94px 90px;
  border-radius: 30px;
  letter-spacing: 0.04em;
  line-height: 1.21;
  margin-top: 30px;
  background-color: #102136;




}


@media (min-width: 320px) {
  .weather__form__input {
    width: 280px;
    height: 190px;


  }
}

@media (min-width: 768px) {
  .weather__form__input {
    width: 500px;
    height: 300px;


  }
}

@media (min-width: 1280px) {
  .weather__form__input {
    margin-top: 132px;
    width: 450px;
    height: 300px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 30px 0px 0px 30px;
    float: right;




  }
}

.weather::before {
  content: '';
  width: 22px;
  height: 22px;
  bottom: 13px;
  right: 20px;
  background-repeat: no-repeat;
  position: absolute;
}

@media (min-width: 768px) {
  .weather::before {
    left: 458px;
  }
}

@media (min-width: 1280px) {
  .weather::before {
    left: 478px;
  }
}

.weather::after {
  content: '';
  width: 22px;
  height: 22px;
  bottom: 13px;
  left: 20px;
  background-repeat: no-repeat;
  position: absolute;
}

@media (min-width: 768px) {
  .weather::after {
    bottom: 16px;
  }
}


.napis {
  position: relative;
  display: flex;
  align-items: center;
  color: #767D85;

}




.napisy {
  position: absolute;
  display: flex;
  align-items: center;
  width: 50px;
  height: 20px;

}

@media (min-width: 320px) {
  .napisy {
    font-size: 14px;


  }
}

@media (min-width: 768px) {
  .napisy {
    font-size: 18px;


  }
}

@media (min-width: 1280px) {
  .napisy {
    font-size: 18px;




  }
}


.min {

  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 12px;

}

.max {

  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 12px;
}




/*comment 
.chmurka {

position: absolute;
  content: '';
    width: 29.14px;
    height: 18.29px; 
background-image: url("/images/icons/chmurka.svg");
  background-repeat: no-repeat;
  background-size: contain;

}


@media (min-width: 320px) {
  .chmurka {
    font-size: 14px;

    margin-left: 25px;
    margin-right: 169px;

  }
}

@media (min-width: 768px) {
  .chmurka {
    font-size: 14px;
    margin-right: 393px;
    margin-left: 249px;

  }
}

@media (min-width: 1280px) {
  .chmurka {
  bottom: 310px;
    margin-right: 254px;
    margin-left: 1017px;
   
  }
}


/*comment */

/*# sourceMappingURL=main.css.map */