.btn-schow-chart {
    text-align: center;
}
.schow-chart {
    font-size: 18px;
    color:#FF6B09;
    text-align: center;
    text-decoration: underline;
    background-color: rgba(16, 33, 54, 0.8);

}