.quote{
  text-align: right;
  align-items: flex-end;
  margin-top: 30px;
  &__example {
    font-style: italic;
    font-size: 14px;
    @media (min-width: 768px){
        font-size: 22px;
    }
  }
  &__author-name {
    font-size: 18px;
    line-height: 22px;
  }
  @media (min-width: 768px){
      width: 379px;
  }
  @media (min-width: 1280px){
      position: absolute;
      right: 110px;
      bottom: 116px;
      
  }
}
