body {
  background-image: linear-gradient(0.56deg, #000000 -13.48%, rgba(0, 0, 0, 0) 78.75%),
    url('/images/first-page/bg-image.png');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
}